/* Add this CSS to make the signup page responsive */

/* Adjust the background gradient */
html, body {
    height: 100%;
    /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    font-family: 'Arial', sans-serif;
}

/* Set a minimum height for the particles container */
#particles-js {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c3e50;
}

/* Center the signup container vertically and horizontally */
.full-height {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height to ensure full viewport coverage */
}

/* Make the signup container responsive */
.signup-container {
    max-width: 330px;
    padding: 30px;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    z-index: 1;
    box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.5);
}

/* Make form elements responsive */
.signup-container .btn, .form-control {
    border-radius: 10px;
}

/* Make the "Sign Up" button take full width on small screens */
.signup-container .btn {
    width: 100%;
    transition: all 0.3s;
}

/* Adjust the "Sign In with Google" button styles */
.btn-outline-dark {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s;
    margin-top: 10px; /* Add some space between the buttons */
}

/* Center the Google logo vertically */
.btn-outline-dark img {
    margin-top: -2px;
}

/* Add hover styles for buttons and links */
.signup-container .btn:hover,
.btn-outline-dark:hover {
    background-color: #0070dd;
    border-color: #0070dd;
    color: #fff;
    text-decoration: none;
}

/* Add responsive styles for the "Already have an account?" link */
.text-center {
    text-align: center;
}

@media (max-width: 576px) {
    /* Adjust the maximum width of the signup container on small screens */
    .signup-container {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    /* Adjust padding for smaller screens */
    .signup-container {
        padding: 20px;
    }
}
